<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    ViewBag.Title = "Populate";
}
@model Query
 @{
    ViewBag.Title = "New Session? Fill this out and we can get started!";
}

<h1>@ViewBag.Title</h1>
@using(Html.BeginForm()){
  <div class="form-group">
    @Html.LabelFor(model => model.StartingLocation)
    @Html.TextBoxFor(model => model.StartingLocation, new { @class="form-control"}) 
    @Html.LabelFor(model => model.EndingLocation)
    @Html.TextBoxFor(model => model.EndingLocation, new { @class="form-control"}) 
    @Html.LabelFor(model => model.NumConnections)
    @Html.TextBoxFor(model => model.NumConnections, new { @class="form-control"}) 
    @Html.LabelFor(model => model.ConnectingLocations)
    @Html.TextBoxFor(model => model.ConnectingLocations, new { @class="form-control"}) 
  </div>
 @* type="submit" class="btn btn-default"  *@
     <button type="submit" class="btn btn-default">Submit</button>
}
<h2>Restaurants in your area</h2>

<ul>
    @for (int i = 0; i < ViewBag.NumTimes; i++)
    {
        <li>@ViewBag.Message</li>
    }
            @* public async Task<ActionResult> RiskOutcome(string StartingLocation,string EndingLocation, int  NumConnections, string ConnectingLocations){ *@

</ul>
@Html.ActionLink("Find My Pare", "RiskOutcome", new { StartingLocation = ViewBag.StartingLocation, EndingLocation = ViewBag.EndingLocation, NumConnections = ViewBag.NumConnections,ConnectingLocations = ViewBag.ConnectingLocations})
<br><br><br>