         @{
    ViewBag.Title = "Populate";
}
@model Query
 @{
    ViewBag.Title = "New Session? Fill this out and we can get started!";
}
         @{
List<SelectListItem> listItems = new List<SelectListItem>();
listItems.Add(new SelectListItem
  {
      Text = "",
      Value = "NULL"
  });
     listItems.Add(new SelectListItem{Text ="Hartsfield-Jackson Atlanta International Airport",Value = "Hartsfield-Jackson Atlanta International Airport"});
     listItems.Add(new SelectListItem{Text ="Los Angeles International Airport",Value = "Los Angeles International Airport"});
     listItems.Add(new SelectListItem{Text ="O'Hare International Airport",Value = "O'Hare International Airport"});
     listItems.Add(new SelectListItem{Text ="Dallas/Fort Worth International Airport",Value = "Dallas/Fort Worth International Airport"});
     listItems.Add(new SelectListItem{Text ="Denver International Airport",Value = "Denver International Airport"});
     listItems.Add(new SelectListItem{Text ="John F. Kennedy International Airport",Value = "John F. Kennedy International Airport"});
     listItems.Add(new SelectListItem{Text ="San Francisco International Airport",Value = "San Francisco International Airport"});
     listItems.Add(new SelectListItem{Text ="Seattle-Tacoma International Airport",Value = "Seattle-Tacoma International Airport"});
     listItems.Add(new SelectListItem{Text ="McCarran International Airport",Value = "McCarran International Airport"});
     listItems.Add(new SelectListItem{Text ="Orlando International Airport",Value = "Orlando International Airport"});
     listItems.Add(new SelectListItem{Text ="Charlotte Douglas International Airport",Value = "Charlotte Douglas International Airport"});
     listItems.Add(new SelectListItem{Text ="Newark Liberty International Airport",Value = "Newark Liberty International Airport"});
     listItems.Add(new SelectListItem{Text ="Phoenix Sky Harbor International Airport",Value = "Phoenix Sky Harbor International Airport"});
     listItems.Add(new SelectListItem{Text ="George Bush Intercontinental Airport",Value = "George Bush Intercontinental Airport"});
     listItems.Add(new SelectListItem{Text ="Miami International Airport",Value = "Miami International Airport"});
     listItems.Add(new SelectListItem{Text ="General Edward Lawrence Logan International Airport",Value = "General Edward Lawrence Logan International Airport"});
     listItems.Add(new SelectListItem{Text ="Minneapolis-Saint Paul International Airport",Value = "Minneapolis-Saint Paul International Airport"});
     listItems.Add(new SelectListItem{Text ="Detroit Metropolitan Airport",Value = "Detroit Metropolitan Airport"});
     listItems.Add(new SelectListItem{Text ="Fort Lauderdale-Hollywood International Airport",Value = "Fort Lauderdale-Hollywood International Airport"});       
     listItems.Add(new SelectListItem{Text ="Philadelphia International Airport",Value = "Philadelphia International Airport"});
     listItems.Add(new SelectListItem{Text ="LaGuardia Airport",Value = "LaGuardia Airport"});
     listItems.Add(new SelectListItem{Text ="Baltimore-Washington International Airport",Value = "Baltimore-Washington International Airport"});
     listItems.Add(new SelectListItem{Text ="Salt Lake City International Airport",Value = "Salt Lake City International Airport"});
     listItems.Add(new SelectListItem{Text ="San Diego International Airport",Value = "San Diego International Airport"});
     listItems.Add(new SelectListItem{Text ="Washington Dulles International Airport",Value = "Washington Dulles International Airport"});
     listItems.Add(new SelectListItem{Text ="Ronald Reagan Washington National Airport",Value = "Ronald Reagan Washington National Airport"});
     listItems.Add(new SelectListItem{Text ="Tampa International Airport",Value = "Tampa International Airport"});
     listItems.Add(new SelectListItem{Text ="Chicago Midway International Airport",Value = "Chicago Midway International Airport"});
     listItems.Add(new SelectListItem{Text ="Daniel K. Inouye International Airport",Value = "Daniel K. Inouye International Airport"});
     listItems.Add(new SelectListItem{Text ="Portland International Airport",Value = "Portland International Airport"});
     listItems.Add(new SelectListItem{Text ="Nashville International Airport",Value = "Nashville International Airport"});
     listItems.Add(new SelectListItem{Text ="Austin-Bergstrom International Airport",Value = "Austin-Bergstrom International Airport"});
     listItems.Add(new SelectListItem{Text ="Dallas Love Field",Value = "Dallas Love Field"});
     listItems.Add(new SelectListItem{Text ="St. Louis Lambert International Airport",Value = "St. Louis Lambert International Airport"});
     listItems.Add(new SelectListItem{Text ="Norman Y. Mineta San José International Airport",Value = "Norman Y. Mineta San José International Airport"});       
     listItems.Add(new SelectListItem{Text ="William P. Hobby Airport",Value = "William P. Hobby Airport"});
     listItems.Add(new SelectListItem{Text ="Raleigh-Durham International Airport",Value = "Raleigh-Durham International Airport"});
     listItems.Add(new SelectListItem{Text ="Louis Armstrong New Orleans International Airport",Value = "Louis Armstrong New Orleans International Airport"});   
     listItems.Add(new SelectListItem{Text ="Oakland International Airport",Value = "Oakland International Airport"});
     listItems.Add(new SelectListItem{Text ="Sacramento International Airport",Value = "Sacramento International Airport"});
     listItems.Add(new SelectListItem{Text ="Kansas City International Airport",Value = "Kansas City International Airport"});
     listItems.Add(new SelectListItem{Text ="John Wayne Airport",Value = "John Wayne Airport"});
     listItems.Add(new SelectListItem{Text ="Southwest Florida International Airport",Value = "Southwest Florida International Airport"});
     listItems.Add(new SelectListItem{Text ="San Antonio International Airport",Value = "San Antonio International Airport"});
     listItems.Add(new SelectListItem{Text ="Cleveland Hopkins International Airport",Value = "Cleveland Hopkins International Airport"});
     listItems.Add(new SelectListItem{Text ="Pittsburgh International Airport",Value = "Pittsburgh International Airport"});
     listItems.Add(new SelectListItem{Text ="Indianapolis International Airport",Value = "Indianapolis International Airport"});
     listItems.Add(new SelectListItem{Text ="Luis Muñoz Marín International Airport",Value = "Luis Muñoz Marín International Airport"});
     listItems.Add(new SelectListItem{Text ="Cincinnati/Northern Kentucky International Airport",Value = "Cincinnati/Northern Kentucky International Airport"}); 
     listItems.Add(new SelectListItem{Text ="John Glenn Columbus International Airport",Value = "John Glenn Columbus International Airport"});
     listItems.Add(new SelectListItem{Text ="Hartsfield-Jackson Atlanta International Airport",Value = "Hartsfield-Jackson Atlanta International Airport"});
     listItems.Add(new SelectListItem{Text ="Los Angeles International Airport",Value = "Los Angeles International Airport"});
     listItems.Add(new SelectListItem{Text ="O'Hare International Airport",Value = "O'Hare International Airport"});
     listItems.Add(new SelectListItem{Text ="Dallas/Fort Worth International Airport",Value = "Dallas/Fort Worth International Airport"});
     listItems.Add(new SelectListItem{Text ="Denver International Airport",Value = "Denver International Airport"});
     listItems.Add(new SelectListItem{Text ="John F. Kennedy International Airport",Value = "John F. Kennedy International Airport"});
     listItems.Add(new SelectListItem{Text ="San Francisco International Airport",Value = "San Francisco International Airport"});
     listItems.Add(new SelectListItem{Text ="Seattle-Tacoma International Airport",Value = "Seattle-Tacoma International Airport"});
     listItems.Add(new SelectListItem{Text ="McCarran International Airport",Value = "McCarran International Airport"});
     listItems.Add(new SelectListItem{Text ="Orlando International Airport",Value = "Orlando International Airport"});
     listItems.Add(new SelectListItem{Text ="Charlotte Douglas International Airport",Value = "Charlotte Douglas International Airport"});
     listItems.Add(new SelectListItem{Text ="Newark Liberty International Airport",Value = "Newark Liberty International Airport"});
     listItems.Add(new SelectListItem{Text ="Phoenix Sky Harbor International Airport",Value = "Phoenix Sky Harbor International Airport"});
     listItems.Add(new SelectListItem{Text ="George Bush Intercontinental Airport",Value = "George Bush Intercontinental Airport"});
     listItems.Add(new SelectListItem{Text ="Miami International Airport",Value = "Miami International Airport"});
     listItems.Add(new SelectListItem{Text ="General Edward Lawrence Logan International Airport",Value = "General Edward Lawrence Logan International Airport"});
     listItems.Add(new SelectListItem{Text ="Minneapolis-Saint Paul International Airport",Value = "Minneapolis-Saint Paul International Airport"});
     listItems.Add(new SelectListItem{Text ="Detroit Metropolitan Airport",Value = "Detroit Metropolitan Airport"});
     listItems.Add(new SelectListItem{Text ="Fort Lauderdale-Hollywood International Airport",Value = "Fort Lauderdale-Hollywood International Airport"});       
     listItems.Add(new SelectListItem{Text ="Philadelphia International Airport",Value = "Philadelphia International Airport"});
     listItems.Add(new SelectListItem{Text ="LaGuardia Airport",Value = "LaGuardia Airport"});
     listItems.Add(new SelectListItem{Text ="Baltimore-Washington International Airport",Value = "Baltimore-Washington International Airport"});
     listItems.Add(new SelectListItem{Text ="Salt Lake City International Airport",Value = "Salt Lake City International Airport"});
     listItems.Add(new SelectListItem{Text ="San Diego International Airport",Value = "San Diego International Airport"});
     listItems.Add(new SelectListItem{Text ="Washington Dulles International Airport",Value = "Washington Dulles International Airport"});
     listItems.Add(new SelectListItem{Text ="Ronald Reagan Washington National Airport",Value = "Ronald Reagan Washington National Airport"});
     listItems.Add(new SelectListItem{Text ="Tampa International Airport",Value = "Tampa International Airport"});
     listItems.Add(new SelectListItem{Text ="Chicago Midway International Airport",Value = "Chicago Midway International Airport"});
     listItems.Add(new SelectListItem{Text ="Daniel K. Inouye International Airport",Value = "Daniel K. Inouye International Airport"});
     listItems.Add(new SelectListItem{Text ="Portland International Airport",Value = "Portland International Airport"});
     listItems.Add(new SelectListItem{Text ="Nashville International Airport",Value = "Nashville International Airport"});
     listItems.Add(new SelectListItem{Text ="Austin-Bergstrom International Airport",Value = "Austin-Bergstrom International Airport"});
     listItems.Add(new SelectListItem{Text ="Dallas Love Field",Value = "Dallas Love Field"});
     listItems.Add(new SelectListItem{Text ="St. Louis Lambert International Airport",Value = "St. Louis Lambert International Airport"});
     listItems.Add(new SelectListItem{Text ="Norman Y. Mineta San José International Airport",Value = "Norman Y. Mineta San José International Airport"});       
     listItems.Add(new SelectListItem{Text ="William P. Hobby Airport",Value = "William P. Hobby Airport"});
     listItems.Add(new SelectListItem{Text ="Raleigh-Durham International Airport",Value = "Raleigh-Durham International Airport"});
     listItems.Add(new SelectListItem{Text ="Louis Armstrong New Orleans International Airport",Value = "Louis Armstrong New Orleans International Airport"});   
     listItems.Add(new SelectListItem{Text ="Oakland International Airport",Value = "Oakland International Airport"});
     listItems.Add(new SelectListItem{Text ="Sacramento International Airport",Value = "Sacramento International Airport"});
     listItems.Add(new SelectListItem{Text ="Kansas City International Airport",Value = "Kansas City International Airport"});
     listItems.Add(new SelectListItem{Text ="John Wayne Airport",Value = "John Wayne Airport"});
     listItems.Add(new SelectListItem{Text ="Southwest Florida International Airport",Value = "Southwest Florida International Airport"});
     listItems.Add(new SelectListItem{Text ="San Antonio International Airport",Value = "San Antonio International Airport"});
     listItems.Add(new SelectListItem{Text ="Cleveland Hopkins International Airport",Value = "Cleveland Hopkins International Airport"});
     listItems.Add(new SelectListItem{Text ="Pittsburgh International Airport",Value = "Pittsburgh International Airport"});
     listItems.Add(new SelectListItem{Text ="Indianapolis International Airport",Value = "Indianapolis International Airport"});
     listItems.Add(new SelectListItem{Text ="Luis Muñoz Marín International Airport",Value = "Luis Muñoz Marín International Airport"});
     listItems.Add(new SelectListItem{Text ="Cincinnati/Northern Kentucky International Airport",Value = "Cincinnati/Northern Kentucky International Airport"});
     listItems.Add(new SelectListItem{Text ="John Glenn Columbus International Airport",Value = "John Glenn Columbus International Airport"});

        }
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    #hi{
        filter: hue-rotate(45deg);
    }
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}
</style>
<body class="w3-light-grey">
<h1>@ViewBag.Title</h1>

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b style="color:#331DCE;"><i class="fa fa-map-marker w3-margin-right"></i>CCAC TAMUhacks</b></a>
  <a href="#" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
  <img id = "hi" class="w3-image" src="https://images.unsplash.com/photo-1436491865332-7a61a109cc05?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxMjA3fDB8MXxzZWFyY2h8MXx8cGxhbmV8fDB8fHw&ixlib=rb-1.2.1&q=80&w=1080" alt="London" width="1500" height="700">
  <div class="w3-display-middle" style="width:80%; top: 275px;">
      

    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="start();"><i class="fa fa-plane w3-margin-right" style="background-color:#9c27b0;"></i>Flight</button>
    </div>

    <!-- Tabs -->
    <div id="Flight" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Come See the World!</h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
            @using(Html.BeginForm()){
            <div class="form-group">
                <div class="w3-half">

                    @Html.LabelFor(model => model.StartingLocation)
                    @Html.DropDownListFor(model => model.StartingLocation, new SelectList(listItems,  "Value", "Text", "HackerNoises"))
                    @Html.LabelFor(model => model.EndingLocation)
                    @Html.DropDownListFor(model => model.EndingLocation, new SelectList(listItems,  "Value", "Text", "HackerNoises"))
                    @Html.LabelFor(model => model.ConnectingLocations)
                     <script type="text/javascript">
                        $(document).ready(function () {
                            window.asd = $('.ddlMultiSlectBox).SumoSelect({ csvDispCount: 4 });
                        });
                        </script>
                    @Html.DropDownListFor(model => model.ConnectingLocations, new SelectList(listItems,  "Value", "Text", "HackerNoises"), new {@multiple="multiple",@placeholder="Please select country", @class="ddlMultiSlectBox" })
                </div>
            </div>
            <p><button type="submit" class="btn btn-default">Submit</button></p>
            }
        </div>
    </div>
      
    <div>
      
</button>
      <script> 
      	document.getElementById("addLayover").onclick = function() {
    		var form = document.getElementById("myForm");
    		var input = document.createElement("option");
    		input.type = "text";
    		var br = document.createElement("br");
    		form.appendChild(input);
    		form.appendChild(br);
		}
      </script>
      <br/>
      </div>
      <p></p><button class="w3-button w3-dark-grey">@Html.ActionLink("Search and Find Dates", "RiskOutcome", new { StartingLocation = ViewBag.StartingLocation, EndingLocation = ViewBag.EndingLocation, NumConnections = ViewBag.NumConnections,ConnectingLocations = ViewBag.ConnectingLocations})</button></p>      
      
    </div>
  </div>
</header>

<script>
// Tabs

function start() {
  var i, x, tablinks;
  x = document.getElementsByClassName("myLink");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-purple", "");
  }
  document.getElementById('Flight').style.display = "block";
  event.currentTarget.className += " w3-purple";
} 
// Launch Flight Portion
document.getElementsByClassName("tablink")[0].click();
</script>

</body>
</html>